force-app/main/default/flows/Auto_create_CnA_Records.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <apiVersion>55.0</apiVersion>
    <assignments>
        <name>Add_CnA_to_Variable</name>
        <label>Add CnA to Variable</label>
        <locationX>182</locationX>
        <locationY>335</locationY>
        <assignmentItems>
            <assignToReference>CnAs</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>$Record.Context_Actions__c</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Format_CnAs</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Add_Extracted_CnA_to_List</name>
        <label>Add Extracted CnA to List</label>
        <locationX>314</locationX>
        <locationY>695</locationY>
        <assignmentItems>
            <assignToReference>extractedCnAValues</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference>formulaOneCnAValue</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Extract_CnA_Values</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Add_Individual_Records_to_Group_Variable</name>
        <label>Add Individual Records to Group Variable</label>
        <locationX>490</locationX>
        <locationY>1667</locationY>
        <assignmentItems>
            <assignToReference>AllNewCnARecords</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference>NewCnARecord</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Loop_CnAs</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Add_Record_to_Variable</name>
        <label>Add Record to Variable</label>
        <locationX>490</locationX>
        <locationY>1547</locationY>
        <assignmentItems>
            <assignToReference>NewCnARecord.Account__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>$Record.Account__c</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>NewCnARecord.Name</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Loop_CnAs</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>NewCnARecord.Context_Action__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Find_CnA_ID.Id</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Add_Individual_Records_to_Group_Variable</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Extract_CnA_Values</name>
        <label>Extract CnA Values</label>
        <locationX>314</locationX>
        <locationY>815</locationY>
        <assignmentItems>
            <assignToReference>formattedCnAs</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>removeOneCnAValue</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <isGoTo>true</isGoTo>
            <targetReference>All_CnAs_Parsed</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Format_CnAs</name>
        <label>Format CnAs</label>
        <locationX>182</locationX>
        <locationY>455</locationY>
        <assignmentItems>
            <assignToReference>formattedCnAs</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>formulaRemoveBracketsAndAddSemiColon</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>All_CnAs_Parsed</targetReference>
        </connector>
    </assignments>
    <decisions>
        <name>All_CnAs_Parsed</name>
        <label>All CnAs Parsed?</label>
        <locationX>182</locationX>
        <locationY>575</locationY>
        <defaultConnector>
            <targetReference>Add_Extracted_CnA_to_List</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>Yes</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>formattedCnAs</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Get_CnAs</targetReference>
            </connector>
            <label>Yes</label>
        </rules>
    </decisions>
    <decisions>
        <name>CnA_Record_Exists</name>
        <label>CnA Record Exists?</label>
        <locationX>710</locationX>
        <locationY>1055</locationY>
        <defaultConnector>
            <targetReference>Loop_Existing_CnA_Records</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>Yes1</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Loop_CnAs</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <elementReference>Loop_Existing_CnA_Records.Context_Action__c</elementReference>
                </rightValue>
            </conditions>
            <connector>
                <isGoTo>true</isGoTo>
                <targetReference>Loop_CnAs</targetReference>
            </connector>
            <label>Yes</label>
        </rules>
    </decisions>
    <description>v2/3/4 - Debug</description>
    <environments>Default</environments>
    <formulas>
        <name>formulaOneCnAValue</name>
        <dataType>String</dataType>
        <expression>TRIM( 
     LEFT(
              {!formattedCnAs} , 
              FIND(
                     &quot;;&quot;,{!formattedCnAs}
             ) - 1
       ) 
 )</expression>
    </formulas>
    <formulas>
        <name>formulaRemoveBracketsAndAddSemiColon</name>
        <dataType>String</dataType>
        <expression>{!CnAs} +&quot;;&quot;</expression>
    </formulas>
    <formulas>
        <name>removeOneCnAValue</name>
        <dataType>String</dataType>
        <expression>TRIM(
     SUBSTITUTE({!formattedCnAs},  {!formulaOneCnAValue}+&quot;;&quot;, &quot;&quot;)
 )</expression>
    </formulas>
    <interviewLabel>Auto-create CnA Records {!$Flow.CurrentDateTime}</interviewLabel>
    <label>Auto-create CnA Records</label>
    <loops>
        <name>Loop_CnAs</name>
        <label>Loop CnAs</label>
        <locationX>50</locationX>
        <locationY>815</locationY>
        <collectionReference>extractedCnAValues</collectionReference>
        <iterationOrder>Asc</iterationOrder>
        <nextValueConnector>
            <targetReference>Loop_Existing_CnA_Records</targetReference>
        </nextValueConnector>
        <noMoreValuesConnector>
            <targetReference>Create_CnA_Records</targetReference>
        </noMoreValuesConnector>
    </loops>
    <loops>
        <name>Loop_Existing_CnA_Records</name>
        <label>Loop Existing CnA Records</label>
        <locationX>490</locationX>
        <locationY>935</locationY>
        <collectionReference>Get_CnAs</collectionReference>
        <iterationOrder>Asc</iterationOrder>
        <nextValueConnector>
            <targetReference>CnA_Record_Exists</targetReference>
        </nextValueConnector>
        <noMoreValuesConnector>
            <targetReference>Find_CnA_ID</targetReference>
        </noMoreValuesConnector>
    </loops>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>CanvasMode</name>
        <value>
            <stringValue>AUTO_LAYOUT_CANVAS</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>AutoLaunchedFlow</processType>
    <recordCreates>
        <name>Create_CnA_Records</name>
        <label>Create CnA Records</label>
        <locationX>50</locationX>
        <locationY>1883</locationY>
        <inputReference>AllNewCnARecords</inputReference>
    </recordCreates>
    <recordLookups>
        <name>Find_CnA_ID</name>
        <label>Find CnA ID</label>
        <locationX>490</locationX>
        <locationY>1427</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Add_Record_to_Variable</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Name</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>Loop_CnAs</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>Context_Action__c</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <name>Get_CnAs</name>
        <label>Get CnAs</label>
        <locationX>50</locationX>
        <locationY>695</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Loop_CnAs</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Account__c</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>$Record.Account__c</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>false</getFirstRecordOnly>
        <object>Account_Context_Action__c</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <start>
        <locationX>56</locationX>
        <locationY>0</locationY>
        <connector>
            <targetReference>Add_CnA_to_Variable</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Context_Actions__c</field>
            <operator>IsNull</operator>
            <value>
                <booleanValue>false</booleanValue>
            </value>
        </filters>
        <object>AccountValueStream__c</object>
        <recordTriggerType>CreateAndUpdate</recordTriggerType>
        <triggerType>RecordAfterSave</triggerType>
    </start>
    <status>Active</status>
    <variables>
        <name>AllNewCnARecords</name>
        <dataType>SObject</dataType>
        <isCollection>true</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>Account_Context_Action__c</objectType>
    </variables>
    <variables>
        <name>CnAExists</name>
        <dataType>Boolean</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <value>
            <booleanValue>false</booleanValue>
        </value>
    </variables>
    <variables>
        <name>CnAs</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <value>
            <stringValue></stringValue>
        </value>
    </variables>
    <variables>
        <name>extractedCnAValues</name>
        <dataType>String</dataType>
        <isCollection>true</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>formattedCnAs</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <value>
            <stringValue></stringValue>
        </value>
    </variables>
    <variables>
        <name>NewCnARecord</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>Account_Context_Action__c</objectType>
    </variables>
    <variables>
        <name>varStartNumber</name>
        <dataType>Number</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <scale>0</scale>
        <value>
            <numberValue>1.0</numberValue>
        </value>
    </variables>
</Flow>
