force-app/main/default/flows/Auto_create_Referral_form_Opportunity_UPDATED.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <actionCalls>
        <name>PopulateReferralFromMappings</name>
        <label>Populate Referral from Mappings</label>
        <locationX>936</locationX>
        <locationY>496</locationY>
        <actionName>workspan__ReferralFieldMappingAction</actionName>
        <actionType>apex</actionType>
        <connector>
            <targetReference>CreateReferral</targetReference>
        </connector>
        <flowTransactionModel>CurrentTransaction</flowTransactionModel>
        <inputParameters>
            <name>referrals</name>
            <value>
                <elementReference>ReferralToCreate</elementReference>
            </value>
        </inputParameters>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </actionCalls>
    <apiVersion>54.0</apiVersion>
    <assignments>
        <name>OpportunityAndPartnerAssignment</name>
        <label>Opportunity and Partner Assignment</label>
        <locationX>803</locationX>
        <locationY>496</locationY>
        <assignmentItems>
            <assignToReference>ReferralToCreate.workspan__Opportunity__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>$Record.Id</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>ReferralToCreate.workspan__PartnerWsIds__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>Amazon</stringValue>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>PopulateReferralFromMappings</targetReference>
        </connector>
    </assignments>
    <decisions>
        <name>CheckExistingReferralsDecision</name>
        <label>Check existing Referrals</label>
        <locationX>678</locationX>
        <locationY>383</locationY>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>NoReferralsCreatedYetOutcome</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>SearchReferrals</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>OpportunityAndPartnerAssignment</targetReference>
            </connector>
            <label>No Referrals created yet</label>
        </rules>
    </decisions>
    <description>Added filter for record type and stage</description>
    <environments>Default</environments>
    <interviewLabel>Auto-create Referral form Opportunity {!$Flow.CurrentDateTime}</interviewLabel>
    <label>Auto-create Referral form Opportunity - UPDATED</label>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>CanvasMode</name>
        <value>
            <stringValue>FREE_FORM_CANVAS</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>AutoLaunchedFlow</processType>
    <recordCreates>
        <name>CreateReferral</name>
        <label>Create Referral</label>
        <locationX>1058</locationX>
        <locationY>495</locationY>
        <inputReference>PopulateReferralFromMappings</inputReference>
    </recordCreates>
    <recordLookups>
        <description>Search for referrals that have already been shared with the partner.</description>
        <name>SearchReferrals</name>
        <label>Search Referrals</label>
        <locationX>562</locationX>
        <locationY>381</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>CheckExistingReferralsDecision</targetReference>
        </connector>
        <filterLogic>1 AND ((2 AND 3) OR (4 AND 5))</filterLogic>
        <filters>
            <field>workspan__Opportunity__c</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>$Record.Id</elementReference>
            </value>
        </filters>
        <filters>
            <field>workspan__ReferralType__c</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>Outgoing</stringValue>
            </value>
        </filters>
        <filters>
            <field>workspan__SourcedToPartner__c</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>Amazon</stringValue>
            </value>
        </filters>
        <filters>
            <field>workspan__ReferralType__c</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>Incoming</stringValue>
            </value>
        </filters>
        <filters>
            <field>workspan__SourcedByPartner__c</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>Amazon</stringValue>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>workspan__Referral__c</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <sourceTemplate>workspan__AutoCreateReferralFormOpportunity</sourceTemplate>
    <start>
        <locationX>438</locationX>
        <locationY>48</locationY>
        <connector>
            <targetReference>SearchReferrals</targetReference>
        </connector>
        <doesRequireRecordChangedToMeetCriteria>true</doesRequireRecordChangedToMeetCriteria>
        <filterLogic>1 AND (2 OR 3)</filterLogic>
        <filters>
            <field>Probability</field>
            <operator>GreaterThanOrEqualTo</operator>
            <value>
                <numberValue>40.0</numberValue>
            </value>
        </filters>
        <filters>
            <field>RecordTypeId</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>0125e000000Ak9EAAS</stringValue>
            </value>
        </filters>
        <filters>
            <field>RecordTypeId</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>0125e000000Ak9JAAS</stringValue>
            </value>
        </filters>
        <object>Opportunity</object>
        <recordTriggerType>Update</recordTriggerType>
        <triggerType>RecordAfterSave</triggerType>
    </start>
    <status>Obsolete</status>
    <variables>
        <name>ReferralToCreate</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>workspan__Referral__c</objectType>
    </variables>
</Flow>
