force-app/main/default/flows/Create_CSM_Renewal_Opportunity.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <actionCalls>
        <description>Message:
{!$Record.Name} is up for renewal in 3 months. A new opportunity has been created for {!owner_name} to manage the renewal. {!$Record.Account_Executive__c} is the Account Executive for the Account.</description>
        <name>Post_Opp_to_huddle_renewal</name>
        <label>Post Opp to huddle-renewal</label>
        <locationX>50</locationX>
        <locationY>636</locationY>
        <actionName>slackv2__invokePostMessage</actionName>
        <actionType>apex</actionType>
        <flowTransactionModel>CurrentTransaction</flowTransactionModel>
        <inputParameters>
            <name>message</name>
            <value>
                <stringValue>{!$Record.Name} is up for renewal in 3 months. A new opportunity has been created for {!owner_name} to manage the renewal. {!$Record.Account_Executive__c} is the Account Executive for the Account.</stringValue>
            </value>
        </inputParameters>
        <inputParameters>
            <name>messageDestinationId</name>
            <value>
                <stringValue>a0GDu000000K7t6MAC</stringValue>
            </value>
        </inputParameters>
        <inputParameters>
            <name>recordId</name>
            <value>
                <elementReference>Create_Renewal_Opportunity</elementReference>
            </value>
        </inputParameters>
    </actionCalls>
    <apiVersion>55.0</apiVersion>
    <decisions>
        <name>Renewal_in_92_Days</name>
        <label>Renewal in 92 Days</label>
        <locationX>182</locationX>
        <locationY>276</locationY>
        <defaultConnectorLabel>No</defaultConnectorLabel>
        <rules>
            <name>Yes</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>days_until_renewal</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <numberValue>92.0</numberValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Get_Account_Owner_Name</targetReference>
            </connector>
            <label>Yes</label>
        </rules>
    </decisions>
    <description>v2 - Pre-populated more fields on new opp
v3 - Changed default stage to Validation
v4 - Switched Deployment field referenced to new one</description>
    <environments>Default</environments>
    <formulas>
        <name>days_until_renewal</name>
        <dataType>Number</dataType>
        <expression>{!$Record.Contract_End_Date__c} - TODAY()</expression>
        <scale>0</scale>
    </formulas>
    <formulas>
        <name>renewal_opp_name</name>
        <dataType>String</dataType>
        <expression>{!$Record.Name}  + &apos; | &apos; + TEXT(YEAR(TODAY())) + &apos; Renewal&apos;</expression>
    </formulas>
    <interviewLabel>Create Renewal Opportunity {!$Flow.CurrentDateTime}</interviewLabel>
    <label>Create CSM Renewal Opportunity</label>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>CanvasMode</name>
        <value>
            <stringValue>AUTO_LAYOUT_CANVAS</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>AutoLaunchedFlow</processType>
    <recordCreates>
        <name>Create_Renewal_Opportunity</name>
        <label>Create Renewal Opportunity</label>
        <locationX>50</locationX>
        <locationY>516</locationY>
        <connector>
            <targetReference>Post_Opp_to_huddle_renewal</targetReference>
        </connector>
        <inputAssignments>
            <field>AccountId</field>
            <value>
                <elementReference>$Record.Id</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Amount</field>
            <value>
                <elementReference>$Record.ARR__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Atlan_Entity__c</field>
            <value>
                <elementReference>$Record.Atlan_Entity__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>CloseDate</field>
            <value>
                <elementReference>$Record.Contract_End_Date__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Contract_Start_Date__c</field>
            <value>
                <elementReference>$Record.Contract_End_Date__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Deployment__c</field>
            <value>
                <elementReference>$Record.Deployment__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Name</field>
            <value>
                <elementReference>renewal_opp_name</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>OwnerId</field>
            <value>
                <elementReference>$Record.OwnerId</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>RecordTypeId</field>
            <value>
                <stringValue>0125e000000AlnBAAS</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>StageName</field>
            <value>
                <stringValue>Validation</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Type</field>
            <value>
                <stringValue>Renewal</stringValue>
            </value>
        </inputAssignments>
        <object>Opportunity</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordCreates>
    <recordLookups>
        <name>Get_Account_Owner_Name</name>
        <label>Get Account Owner Name</label>
        <locationX>50</locationX>
        <locationY>396</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Create_Renewal_Opportunity</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>$Record.OwnerId</elementReference>
            </value>
        </filters>
        <object>User</object>
        <outputAssignments>
            <assignToReference>owner_name</assignToReference>
            <field>Name</field>
        </outputAssignments>
    </recordLookups>
    <start>
        <locationX>56</locationX>
        <locationY>0</locationY>
        <connector>
            <targetReference>Renewal_in_92_Days</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Type</field>
            <operator>Contains</operator>
            <value>
                <stringValue>Customer</stringValue>
            </value>
        </filters>
        <object>Account</object>
        <schedule>
            <frequency>Daily</frequency>
            <startDate>2022-08-15</startDate>
            <startTime>18:30:00.000Z</startTime>
        </schedule>
        <triggerType>Scheduled</triggerType>
    </start>
    <status>Active</status>
    <variables>
        <name>owner_name</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
</Flow>
