force-app/main/default/flows/Create_CSM_Renewal_Opportunity_Manual.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <apiVersion>55.0</apiVersion>
    <decisions>
        <name>Account_ID</name>
        <label>Account ID</label>
        <locationX>182</locationX>
        <locationY>276</locationY>
        <defaultConnectorLabel>No</defaultConnectorLabel>
        <rules>
            <name>Renewal_Between_92_and_236_Days</name>
            <conditionLogic>or</conditionLogic>
            <conditions>
                <leftValueReference>days_until_renewal</leftValueReference>
                <operator>GreaterThan</operator>
                <rightValue>
                    <numberValue>92.0</numberValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>days_until_renewal</leftValueReference>
                <operator>LessThanOrEqualTo</operator>
                <rightValue>
                    <numberValue>236.0</numberValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Get_Account_Owner_Name</targetReference>
            </connector>
            <label>Renewal Between 92 and 236 Days</label>
        </rules>
    </decisions>
    <environments>Default</environments>
    <formulas>
        <name>days_until_renewal</name>
        <dataType>Number</dataType>
        <expression>{!$Record.Contract_End_Date__c} - TODAY()</expression>
        <scale>0</scale>
    </formulas>
    <formulas>
        <name>renewal_opp_name</name>
        <dataType>String</dataType>
        <expression>{!$Record.Name}  + &apos; | &apos; + TEXT(YEAR({!$Record.Contract_End_Date__c})) + &apos; Renewal&apos;</expression>
    </formulas>
    <interviewLabel>Create CSM Renewal Opportunity - Manual {!$Flow.CurrentDateTime}</interviewLabel>
    <label>Create CSM Renewal Opportunity - Manual</label>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>CanvasMode</name>
        <value>
            <stringValue>AUTO_LAYOUT_CANVAS</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>AutoLaunchedFlow</processType>
    <recordCreates>
        <name>Create_Renewal_Opportunity</name>
        <label>Create Renewal Opportunity</label>
        <locationX>50</locationX>
        <locationY>516</locationY>
        <inputAssignments>
            <field>AccountId</field>
            <value>
                <elementReference>$Record.Id</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Amount</field>
            <value>
                <elementReference>$Record.ARR__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Atlan_Entity__c</field>
            <value>
                <elementReference>$Record.Atlan_Entity__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>CloseDate</field>
            <value>
                <elementReference>$Record.Contract_End_Date__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Contract_Start_Date__c</field>
            <value>
                <elementReference>$Record.Contract_End_Date__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Deployment__c</field>
            <value>
                <elementReference>$Record.Deployment__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Name</field>
            <value>
                <elementReference>renewal_opp_name</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>OwnerId</field>
            <value>
                <elementReference>$Record.OwnerId</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>RecordTypeId</field>
            <value>
                <stringValue>0125e000000AlnBAAS</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>StageName</field>
            <value>
                <stringValue>Validation</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Type</field>
            <value>
                <stringValue>Renewal</stringValue>
            </value>
        </inputAssignments>
        <object>Opportunity</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordCreates>
    <recordLookups>
        <name>Get_Account_Owner_Name</name>
        <label>Get Account Owner Name</label>
        <locationX>50</locationX>
        <locationY>396</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Create_Renewal_Opportunity</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>$Record.OwnerId</elementReference>
            </value>
        </filters>
        <object>User</object>
        <outputAssignments>
            <assignToReference>owner_name</assignToReference>
            <field>Name</field>
        </outputAssignments>
    </recordLookups>
    <start>
        <locationX>56</locationX>
        <locationY>0</locationY>
        <connector>
            <targetReference>Account_ID</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Type</field>
            <operator>Contains</operator>
            <value>
                <stringValue>Customer</stringValue>
            </value>
        </filters>
        <object>Account</object>
        <schedule>
            <frequency>Daily</frequency>
            <startDate>2022-10-07</startDate>
            <startTime>22:46:00.000Z</startTime>
        </schedule>
        <triggerType>Scheduled</triggerType>
    </start>
    <status>Obsolete</status>
    <variables>
        <name>owner_name</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
</Flow>
