force-app/main/default/flows/On_Activity_Update.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <apiVersion>53.0</apiVersion>
    <decisions>
        <name>Activity_Owner</name>
        <label>Activity Owner</label>
        <locationX>710</locationX>
        <locationY>1823</locationY>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>AE</name>
            <conditionLogic>or</conditionLogic>
            <conditions>
                <leftValueReference>$Record.Owner:User.UserRoleId</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>00E5e000000LpFoEAK</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.Owner:User.UserRoleId</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>00E5e000000Lq2hEAC</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Update_Account_Owner_to_Activity_Owner</targetReference>
            </connector>
            <label>AE</label>
        </rules>
    </decisions>
    <decisions>
        <name>Activity_Subtype</name>
        <label>Activity Subtype</label>
        <locationX>710</locationX>
        <locationY>1247</locationY>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>Demo</name>
            <conditionLogic>(((1 OR 5) AND (2 OR 3 OR 4)) OR 6 OR 7) AND 8 AND 9 AND 10 AND 11 AND 12</conditionLogic>
            <conditions>
                <leftValueReference>wingman_subject</leftValueReference>
                <operator>Contains</operator>
                <rightValue>
                    <stringValue>Demo</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.Owner:User.UserRoleId</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>00E5e000000LpFoEAK</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.Owner:User.UserRoleId</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>00E5e000000LpxWEAS</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.Owner:User.UserRoleId</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>00E5e000000Lq2hEAC</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.Subject</leftValueReference>
                <operator>Contains</operator>
                <rightValue>
                    <stringValue>Demo</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.Activity_Subtype__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Demo</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.Subject</leftValueReference>
                <operator>Contains</operator>
                <rightValue>
                    <stringValue>Product Preview</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.Type</leftValueReference>
                <operator>NotEqualTo</operator>
                <rightValue>
                    <stringValue>Form Submission</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.Type</leftValueReference>
                <operator>NotEqualTo</operator>
                <rightValue>
                    <stringValue>Other</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.Type</leftValueReference>
                <operator>NotEqualTo</operator>
                <rightValue>
                    <stringValue>Email</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.Type</leftValueReference>
                <operator>NotEqualTo</operator>
                <rightValue>
                    <stringValue>Marketing Email</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.Type</leftValueReference>
                <operator>NotEqualTo</operator>
                <rightValue>
                    <stringValue>Salesloft Email</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Update_Subtype_Demo</targetReference>
            </connector>
            <label>Demo</label>
        </rules>
        <rules>
            <name>POC_Success</name>
            <conditionLogic>or</conditionLogic>
            <conditions>
                <leftValueReference>wingman_subject</leftValueReference>
                <operator>Contains</operator>
                <rightValue>
                    <stringValue>POC Success</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.Subject</leftValueReference>
                <operator>Contains</operator>
                <rightValue>
                    <stringValue>POC Success</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Update_Subtype_POCSuccess</targetReference>
            </connector>
            <label>POC Success</label>
        </rules>
        <rules>
            <name>POC</name>
            <conditionLogic>or</conditionLogic>
            <conditions>
                <leftValueReference>wingman_subject</leftValueReference>
                <operator>Contains</operator>
                <rightValue>
                    <stringValue>POC</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.Owner:User.UserRoleId</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>00E5e000000Lq2mEAC</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.Owner:User.UserRoleId</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>00E5e000000LpojEAC</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.Subject</leftValueReference>
                <operator>Contains</operator>
                <rightValue>
                    <stringValue>POC</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Update_Subtype_POC</targetReference>
            </connector>
            <label>POC</label>
        </rules>
        <rules>
            <name>Discovery_Call</name>
            <conditionLogic>or</conditionLogic>
            <conditions>
                <leftValueReference>wingman_subject</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Introductory chat with Atlan</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>wingman_subject</leftValueReference>
                <operator>Contains</operator>
                <rightValue>
                    <stringValue>Introduction</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.Subject</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Introductory chat with Atlan</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.Subject</leftValueReference>
                <operator>Contains</operator>
                <rightValue>
                    <stringValue>Introduction</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.Activity_Subtype__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Discovery</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.Subject</leftValueReference>
                <operator>StartsWith</operator>
                <rightValue>
                    <stringValue>Meet with Atlan</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <isGoTo>true</isGoTo>
                <targetReference>Update_Subtype_Discovery</targetReference>
            </connector>
            <label>Discovery Call</label>
        </rules>
        <rules>
            <name>Outbound_Discovery</name>
            <conditionLogic>(1 OR 2 OR 3 OR 4 OR 5 OR 6) AND 7 AND 8</conditionLogic>
            <conditions>
                <leftValueReference>wingman_subject</leftValueReference>
                <operator>StartsWith</operator>
                <rightValue>
                    <stringValue>Atlan &lt; &gt; </stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.Subject</leftValueReference>
                <operator>StartsWith</operator>
                <rightValue>
                    <stringValue>Atlan &lt; &gt; </stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.Subject</leftValueReference>
                <operator>StartsWith</operator>
                <rightValue>
                    <stringValue>Zoom: Atlan &lt;&gt;</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.Subject</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Atlan &lt;&gt; </stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.Subject</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Zoom: Atlan &lt; &gt;</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>wingman_subject</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Atlan &lt;&gt; </stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.Owner:User.UserRoleId</leftValueReference>
                <operator>NotEqualTo</operator>
                <rightValue>
                    <stringValue>00E5e000000LrWtEAK</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.Owner:User.UserRoleId</leftValueReference>
                <operator>NotEqualTo</operator>
                <rightValue>
                    <stringValue>00E5e000000LrWoEAK</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Update_Account_Source_to_Outbound</targetReference>
            </connector>
            <label>Outbound Discovery</label>
        </rules>
    </decisions>
    <decisions>
        <name>Open_Opp</name>
        <label>Open Opp?</label>
        <locationX>710</locationX>
        <locationY>911</locationY>
        <defaultConnector>
            <targetReference>Activity_Subtype</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>Existing_Opp_Associated</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>related_to_id_type</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>0065e</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Activity_Subtype</targetReference>
            </connector>
            <label>Existing Opp Associated</label>
        </rules>
        <rules>
            <name>No_Open_Opps</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>open_opp_id</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>related_to_id_type</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Add_Activity_to_Acct</targetReference>
            </connector>
            <label>No Open Opps</label>
        </rules>
        <rules>
            <name>Open_Opp_Not_Associated</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>open_opp_id</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Add_Activity_to_Opp</targetReference>
            </connector>
            <label>Open Opp Not Associated</label>
        </rules>
    </decisions>
    <decisions>
        <name>Task_Type</name>
        <label>Task Type</label>
        <locationX>710</locationX>
        <locationY>335</locationY>
        <defaultConnector>
            <targetReference>Find_Contact</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>Wingman_Task</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Record.Description</leftValueReference>
                <operator>StartsWith</operator>
                <rightValue>
                    <stringValue>-----------Notes from Wingman</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Update_Task_Type_and_Duration</targetReference>
            </connector>
            <label>Wingman Task</label>
        </rules>
        <rules>
            <name>Salesloft_Task</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Record.RecordTypeId</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>0125e000000AlTt</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Update_Main_Task_Type</targetReference>
            </connector>
            <label>Salesloft Task</label>
        </rules>
        <rules>
            <name>Open_HubSpot_Task</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Record.CreatedById</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>0055e000006rJS5AAM</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.Status</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Open</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.ActivityDate</leftValueReference>
                <operator>LessThanOrEqualTo</operator>
                <rightValue>
                    <elementReference>$Flow.CurrentDate</elementReference>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Mark_Task_as_Done</targetReference>
            </connector>
            <label>Open HubSpot Task</label>
        </rules>
        <rules>
            <name>Gong_Email</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Record.Subject</leftValueReference>
                <operator>StartsWith</operator>
                <rightValue>
                    <stringValue>[Gong</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Update_Main_Task_Type_2</targetReference>
            </connector>
            <label>Gong Email</label>
        </rules>
    </decisions>
    <description>v1 - tag Wingman calls
v2 - extract call duration from subject
v5 - associate activities to opportunities
v6 - Extract Wingman link
v7 - Extract Wingman link debug
v8 - Add activity to account
v9 - Added Discovery activity type
v10 - Improved filter for Wingman calls
v11 - Debug
v12 - Granularity for adding to opps
v13 - Expanded keyword in subject for tagging discovery calls
v14 - Added updates to Account record with demo/disco dates
v15 - Added Account assignment owner
v16 - Added Outbound Discovery check
v17 - Updated contains subjects for Gong
v18 - Outbound discovery fix
v19 - Salesloft email type
v20 - Mark HubSpot tasks as done
v21 - Added criteria for flagging demo/disco call
v22 - Prevented overwrite of demo/disco date on Account
v23 - HubSpot open tasks are only marked complete when in the past
v24 - Updated Disco call subject key words
v25 - Fixed bug for closing open HubSpot tasks
v26 - Updated demo criteria for subtype update
v27 - Marked Gong emails with type email</description>
    <environments>Default</environments>
    <formulas>
        <name>call_duration_seconds</name>
        <dataType>Number</dataType>
        <expression>(VALUE(LEFT(RIGHT({!$Record.Subject},5),2)) * 60) + VALUE(RIGHT({!$Record.Subject},2))</expression>
        <scale>0</scale>
    </formulas>
    <formulas>
        <name>related_to_id_type</name>
        <dataType>String</dataType>
        <expression>LEFT({!$Record.WhatId},5)</expression>
    </formulas>
    <formulas>
        <name>wingman_link</name>
        <dataType>String</dataType>
        <expression>MID({!$Record.Description}, FIND(&quot;https://app.trywingman.com/call/&quot;,  {!$Record.Description}), FIND(&quot;?utm_source&quot;,  {!$Record.Description})-FIND(&quot;https://app.trywingman.com/call/&quot;,  {!$Record.Description}))</expression>
    </formulas>
    <formulas>
        <name>wingman_subject</name>
        <dataType>String</dataType>
        <expression>MID({!$Record.Description}, 46, FIND(&quot;Recording available&quot;,  {!$Record.Description})-55)</expression>
    </formulas>
    <interviewLabel>On Activity Update {!$Flow.CurrentDateTime}</interviewLabel>
    <label>On Activity Update</label>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>CanvasMode</name>
        <value>
            <stringValue>AUTO_LAYOUT_CANVAS</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>AutoLaunchedFlow</processType>
    <recordLookups>
        <name>Find_Contact</name>
        <label>Find Contact</label>
        <locationX>710</locationX>
        <locationY>671</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Find_Open_Opp1</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>$Record.WhoId</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>Contact</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <name>Find_Open_Opp1</name>
        <label>Find Open Opp</label>
        <locationX>710</locationX>
        <locationY>791</locationY>
        <assignNullValuesIfNoRecordsFound>true</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Open_Opp</targetReference>
        </connector>
        <filterLogic>(1 OR 2) AND 3 AND 4</filterLogic>
        <filters>
            <field>AccountId</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>$Record.WhatId</elementReference>
            </value>
        </filters>
        <filters>
            <field>AccountId</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>Find_Contact.AccountId</elementReference>
            </value>
        </filters>
        <filters>
            <field>CreatedDate</field>
            <operator>LessThanOrEqualTo</operator>
            <value>
                <elementReference>$Record.ActivityDate</elementReference>
            </value>
        </filters>
        <filters>
            <field>CloseDate</field>
            <operator>GreaterThanOrEqualTo</operator>
            <value>
                <elementReference>$Record.ActivityDate</elementReference>
            </value>
        </filters>
        <object>Opportunity</object>
        <outputAssignments>
            <assignToReference>open_opp_id</assignToReference>
            <field>Id</field>
        </outputAssignments>
        <sortField>CloseDate</sortField>
        <sortOrder>Asc</sortOrder>
    </recordLookups>
    <recordUpdates>
        <name>Add_Activity_to_Acct</name>
        <label>Add Activity to Account</label>
        <locationX>534</locationX>
        <locationY>1031</locationY>
        <connector>
            <targetReference>Activity_Subtype</targetReference>
        </connector>
        <inputAssignments>
            <field>WhatId</field>
            <value>
                <elementReference>Find_Contact.AccountId</elementReference>
            </value>
        </inputAssignments>
        <inputReference>$Record</inputReference>
    </recordUpdates>
    <recordUpdates>
        <name>Add_Activity_to_Opp</name>
        <label>Add Activity to Opp</label>
        <locationX>798</locationX>
        <locationY>1031</locationY>
        <connector>
            <targetReference>Activity_Subtype</targetReference>
        </connector>
        <inputAssignments>
            <field>WhatId</field>
            <value>
                <elementReference>open_opp_id</elementReference>
            </value>
        </inputAssignments>
        <inputReference>$Record</inputReference>
    </recordUpdates>
    <recordUpdates>
        <name>Mark_Task_as_Done</name>
        <label>Mark Task as Done</label>
        <locationX>710</locationX>
        <locationY>455</locationY>
        <connector>
            <targetReference>Find_Contact</targetReference>
        </connector>
        <inputAssignments>
            <field>Status</field>
            <value>
                <stringValue>Completed</stringValue>
            </value>
        </inputAssignments>
        <inputReference>$Record</inputReference>
    </recordUpdates>
    <recordUpdates>
        <name>Update_Account_Owner_to_Activity_Owner</name>
        <label>Update Account Owner to Activity Owner</label>
        <locationX>578</locationX>
        <locationY>1943</locationY>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>Find_Contact.AccountId</elementReference>
            </value>
        </filters>
        <filters>
            <field>OwnerId</field>
            <operator>NotEqualTo</operator>
            <value>
                <elementReference>$Record.OwnerId</elementReference>
            </value>
        </filters>
        <inputAssignments>
            <field>OwnerId</field>
            <value>
                <elementReference>$Record.OwnerId</elementReference>
            </value>
        </inputAssignments>
        <object>Account</object>
    </recordUpdates>
    <recordUpdates>
        <name>Update_Account_Source_to_Outbound</name>
        <label>Update Account Source to Outbound</label>
        <locationX>1106</locationX>
        <locationY>1367</locationY>
        <connector>
            <targetReference>Update_Subtype_Discovery</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>Find_Contact.AccountId</elementReference>
            </value>
        </filters>
        <filters>
            <field>AccountSource</field>
            <operator>IsNull</operator>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </filters>
        <inputAssignments>
            <field>AccountSource</field>
            <value>
                <stringValue>Outbound</stringValue>
            </value>
        </inputAssignments>
        <object>Account</object>
    </recordUpdates>
    <recordUpdates>
        <name>Update_Demo_Date_on_Account</name>
        <label>Update Demo Date on Account</label>
        <locationX>50</locationX>
        <locationY>1487</locationY>
        <connector>
            <targetReference>Activity_Owner</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>Find_Contact.AccountId</elementReference>
            </value>
        </filters>
        <filters>
            <field>Demo_Date__c</field>
            <operator>IsNull</operator>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </filters>
        <inputAssignments>
            <field>Demo_Date__c</field>
            <value>
                <elementReference>$Record.ActivityDate</elementReference>
            </value>
        </inputAssignments>
        <object>Account</object>
    </recordUpdates>
    <recordUpdates>
        <name>Update_Disco_Date_on_Account</name>
        <label>Update Disco Date on Account</label>
        <locationX>1106</locationX>
        <locationY>1607</locationY>
        <connector>
            <targetReference>Activity_Owner</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>Find_Contact.AccountId</elementReference>
            </value>
        </filters>
        <filters>
            <field>Discovery_Date__c</field>
            <operator>IsNull</operator>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </filters>
        <inputAssignments>
            <field>Discovery_Date__c</field>
            <value>
                <elementReference>$Record.ActivityDate</elementReference>
            </value>
        </inputAssignments>
        <object>Account</object>
    </recordUpdates>
    <recordUpdates>
        <name>Update_Main_Task_Type</name>
        <label>Update Main Task Type</label>
        <locationX>446</locationX>
        <locationY>455</locationY>
        <connector>
            <targetReference>Find_Contact</targetReference>
        </connector>
        <inputAssignments>
            <field>Type</field>
            <value>
                <stringValue>Salesloft Email</stringValue>
            </value>
        </inputAssignments>
        <inputReference>$Record</inputReference>
    </recordUpdates>
    <recordUpdates>
        <name>Update_Main_Task_Type_2</name>
        <label>Update Main Task Type</label>
        <locationX>974</locationX>
        <locationY>455</locationY>
        <connector>
            <targetReference>Find_Contact</targetReference>
        </connector>
        <inputAssignments>
            <field>Type</field>
            <value>
                <stringValue>Email</stringValue>
            </value>
        </inputAssignments>
        <inputReference>$Record</inputReference>
    </recordUpdates>
    <recordUpdates>
        <name>Update_Subtype_Demo</name>
        <label>Update Subtype - Demo</label>
        <locationX>50</locationX>
        <locationY>1367</locationY>
        <connector>
            <targetReference>Update_Demo_Date_on_Account</targetReference>
        </connector>
        <inputAssignments>
            <field>Activity_Subtype__c</field>
            <value>
                <stringValue>Demo</stringValue>
            </value>
        </inputAssignments>
        <inputReference>$Record</inputReference>
    </recordUpdates>
    <recordUpdates>
        <name>Update_Subtype_Discovery</name>
        <label>Update Subtype - Discovery</label>
        <locationX>1106</locationX>
        <locationY>1487</locationY>
        <connector>
            <targetReference>Update_Disco_Date_on_Account</targetReference>
        </connector>
        <inputAssignments>
            <field>Activity_Subtype__c</field>
            <value>
                <stringValue>Discovery</stringValue>
            </value>
        </inputAssignments>
        <inputReference>$Record</inputReference>
    </recordUpdates>
    <recordUpdates>
        <name>Update_Subtype_POC</name>
        <label>Update Subtype - POC</label>
        <locationX>578</locationX>
        <locationY>1367</locationY>
        <inputAssignments>
            <field>Activity_Subtype__c</field>
            <value>
                <stringValue>POC</stringValue>
            </value>
        </inputAssignments>
        <inputReference>$Record</inputReference>
    </recordUpdates>
    <recordUpdates>
        <name>Update_Subtype_POCSuccess</name>
        <label>Update Subtype - POC Success</label>
        <locationX>314</locationX>
        <locationY>1367</locationY>
        <inputAssignments>
            <field>Activity_Subtype__c</field>
            <value>
                <stringValue>POC Success</stringValue>
            </value>
        </inputAssignments>
        <inputReference>$Record</inputReference>
    </recordUpdates>
    <recordUpdates>
        <name>Update_Task_Type_and_Duration</name>
        <label>Update Task Type and Duration</label>
        <locationX>182</locationX>
        <locationY>455</locationY>
        <connector>
            <targetReference>Find_Contact</targetReference>
        </connector>
        <inputAssignments>
            <field>CallDurationInSeconds</field>
            <value>
                <elementReference>call_duration_seconds</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Subject</field>
            <value>
                <elementReference>wingman_subject</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Type</field>
            <value>
                <stringValue>Call</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Wingman_Link__c</field>
            <value>
                <elementReference>wingman_link</elementReference>
            </value>
        </inputAssignments>
        <inputReference>$Record</inputReference>
    </recordUpdates>
    <start>
        <locationX>584</locationX>
        <locationY>0</locationY>
        <connector>
            <targetReference>Task_Type</targetReference>
        </connector>
        <object>Task</object>
        <recordTriggerType>CreateAndUpdate</recordTriggerType>
        <triggerType>RecordAfterSave</triggerType>
    </start>
    <status>Active</status>
    <variables>
        <name>open_opp_id</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>open_opportunity</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>Opportunity</objectType>
    </variables>
</Flow>
