force-app/main/default/flows/On_Opp_Update_v2.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <actionCalls>
        <name>Finance_Alert_Email</name>
        <label>Finance Alert Email</label>
        <locationX>314</locationX>
        <locationY>5879</locationY>
        <actionName>Opportunity.Won_Opp_Finance_Alert</actionName>
        <actionType>emailAlert</actionType>
        <connector>
            <targetReference>Post_Closed_Won_Alert_to_Finance_Slack</targetReference>
        </connector>
        <flowTransactionModel>CurrentTransaction</flowTransactionModel>
        <inputParameters>
            <name>SObjectRowId</name>
            <value>
                <elementReference>$Record.Id</elementReference>
            </value>
        </inputParameters>
    </actionCalls>
    <actionCalls>
        <description>Post 
Heads up, a new {!$Record.Type} contract was signed with {!$Record.Account.Legal_Name__c}. Please see opportunity details below.</description>
        <name>Post_Closed_Won_Alert_to_Finance_Slack</name>
        <label>Post Closed Won Alert to Finance Slack</label>
        <locationX>314</locationX>
        <locationY>5999</locationY>
        <actionName>slackv2__invokePostMessage</actionName>
        <actionType>apex</actionType>
        <flowTransactionModel>CurrentTransaction</flowTransactionModel>
        <inputParameters>
            <name>message</name>
            <value>
                <stringValue>Heads up, a new {!$Record.Type} contract was signed with {!$Record.Account.Legal_Name__c}. Please see opportunity details below.</stringValue>
            </value>
        </inputParameters>
        <inputParameters>
            <name>messageDestinationId</name>
            <value>
                <stringValue>a0G5e000002tj8uEAA</stringValue>
            </value>
        </inputParameters>
        <inputParameters>
            <name>recordId</name>
            <value>
                <elementReference>$Record.Id</elementReference>
            </value>
        </inputParameters>
    </actionCalls>
    <apiVersion>53.0</apiVersion>
    <decisions>
        <name>Account_and_Opportunity_Owner_Mismatch</name>
        <label>Account and Opportunity Owner Mismatch</label>
        <locationX>666</locationX>
        <locationY>4415</locationY>
        <defaultConnector>
            <targetReference>Opp_Result</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Owners the Same</defaultConnectorLabel>
        <rules>
            <name>Owners_Different</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Record.OwnerId</leftValueReference>
                <operator>NotEqualTo</operator>
                <rightValue>
                    <elementReference>$Record.Account.OwnerId</elementReference>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Update_Account_Owner</targetReference>
            </connector>
            <label>Owners Different</label>
        </rules>
    </decisions>
    <decisions>
        <name>Deal_Flag_Company_Internal_Factors</name>
        <label>Deal Flag - Company Internal Factors</label>
        <locationX>1018</locationX>
        <locationY>2135</locationY>
        <defaultConnector>
            <targetReference>Deal_Flag_Missing_Integration</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>Yes_4</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Record.Deal_Flags__c</leftValueReference>
                <operator>IsChanged</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.Deal_Flags__c</leftValueReference>
                <operator>Contains</operator>
                <rightValue>
                    <stringValue>Company Internal Factors</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Set_Company_Internal_Factors</targetReference>
            </connector>
            <label>Yes</label>
        </rules>
    </decisions>
    <decisions>
        <name>Deal_Flag_Missing_Integration</name>
        <label>Deal Flag - Missing Integration</label>
        <locationX>1018</locationX>
        <locationY>2471</locationY>
        <defaultConnector>
            <targetReference>Deal_Flag_Product_Capability_Blocker</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>Yes_5</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Record.Deal_Flags__c</leftValueReference>
                <operator>IsChanged</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.Deal_Flags__c</leftValueReference>
                <operator>Contains</operator>
                <rightValue>
                    <stringValue>Missing Integration</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Set_Missing_Integration</targetReference>
            </connector>
            <label>Yes</label>
        </rules>
    </decisions>
    <decisions>
        <name>Deal_Flag_Pricing</name>
        <label>Deal Flag - Pricing</label>
        <locationX>1018</locationX>
        <locationY>1463</locationY>
        <defaultConnector>
            <targetReference>Deal_Flag_Timing_Risk</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>Yes_2</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Record.Deal_Flags__c</leftValueReference>
                <operator>IsChanged</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.Deal_Flags__c</leftValueReference>
                <operator>Contains</operator>
                <rightValue>
                    <stringValue>Pricing/Packaging</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Set_Pricing</targetReference>
            </connector>
            <label>Yes</label>
        </rules>
    </decisions>
    <decisions>
        <name>Deal_Flag_Product_Capability_Blocker</name>
        <label>Deal Flag - Product Capability Blocker</label>
        <locationX>1018</locationX>
        <locationY>2807</locationY>
        <defaultConnector>
            <targetReference>Stage_Updated</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>Yes_6</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Record.Deal_Flags__c</leftValueReference>
                <operator>IsChanged</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.Deal_Flags__c</leftValueReference>
                <operator>Contains</operator>
                <rightValue>
                    <stringValue>Product Capability Blocker</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Set_Product_Capability_Blocker</targetReference>
            </connector>
            <label>Yes</label>
        </rules>
    </decisions>
    <decisions>
        <name>Deal_Flag_Timing_Risk</name>
        <label>Deal Flag - Timing Risk</label>
        <locationX>1018</locationX>
        <locationY>1799</locationY>
        <defaultConnector>
            <targetReference>Deal_Flag_Company_Internal_Factors</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>Yes_3</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Record.Deal_Flags__c</leftValueReference>
                <operator>IsChanged</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.Deal_Flags__c</leftValueReference>
                <operator>Contains</operator>
                <rightValue>
                    <stringValue>Timing Risk</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Set_Timing_Risk</targetReference>
            </connector>
            <label>Yes</label>
        </rules>
    </decisions>
    <decisions>
        <name>Most_Recent_Contract_Opp</name>
        <label>Most Recent Contract Opp</label>
        <locationX>1018</locationX>
        <locationY>3815</locationY>
        <defaultConnector>
            <isGoTo>true</isGoTo>
            <targetReference>Opp_Type</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>Most_Recent_Won_Contract</name>
            <conditionLogic>1 AND (2 OR 3) AND 4</conditionLogic>
            <conditions>
                <leftValueReference>$Record.IsWon</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.Contract_Start_Date__c</leftValueReference>
                <operator>GreaterThanOrEqualTo</operator>
                <rightValue>
                    <elementReference>$Record.Account.Contract_Start_Date__c</elementReference>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.Account.Contract_Start_Date__c</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.RecordTypeId</leftValueReference>
                <operator>NotEqualTo</operator>
                <rightValue>
                    <stringValue>0125e000000AlmhAAC</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Update_Account_Contract_Data</targetReference>
            </connector>
            <label>Most Recent Won Contract</label>
        </rules>
        <rules>
            <name>Upsell_Record_Type</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Record.RecordTypeId</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>0125e000000AlmhAAC</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Update_Opp_Type</targetReference>
            </connector>
            <label>Upsell Record Type</label>
        </rules>
    </decisions>
    <decisions>
        <name>Next_Step_Updated</name>
        <label>Next Step Updated?</label>
        <locationX>1018</locationX>
        <locationY>791</locationY>
        <defaultConnector>
            <targetReference>Owner_Updated</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>Yes</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Record.NextStep</leftValueReference>
                <operator>IsChanged</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Update_Opp_Next_Step_Updated_Date</targetReference>
            </connector>
            <label>Yes</label>
        </rules>
    </decisions>
    <decisions>
        <name>Opp_Record_Type</name>
        <label>Opp Record Type</label>
        <locationX>314</locationX>
        <locationY>5303</locationY>
        <defaultConnector>
            <targetReference>Finance_Alert_Email</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Other Record Type</defaultConnectorLabel>
        <rules>
            <name>New_Full_Customer</name>
            <conditionLogic>or</conditionLogic>
            <conditions>
                <leftValueReference>$Record.RecordTypeId</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>0125e000000Ak9EAAS</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Set_Product_Instance</targetReference>
            </connector>
            <label>New Full Customer</label>
        </rules>
        <rules>
            <name>Renewal</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Record.RecordTypeId</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>0125e000000AlnBAAS</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Update_Renewal_Record_0</targetReference>
            </connector>
            <label>Renewal</label>
        </rules>
    </decisions>
    <decisions>
        <name>Opp_Result</name>
        <label>Opp Result</label>
        <locationX>1018</locationX>
        <locationY>4943</locationY>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>Won</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Record.IsWon</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Find_Accelerator_Product</targetReference>
            </connector>
            <doesRequireRecordChangedToMeetCriteria>true</doesRequireRecordChangedToMeetCriteria>
            <label>Won</label>
        </rules>
        <rules>
            <name>Lost1</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Record.StageName</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Closed Lost</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Update_Opp_Close_Date_and_Forecast_0</targetReference>
            </connector>
            <doesRequireRecordChangedToMeetCriteria>true</doesRequireRecordChangedToMeetCriteria>
            <label>Lost</label>
        </rules>
        <rules>
            <name>Contracting_Procurement</name>
            <conditionLogic>1 AND (2 OR 3)</conditionLogic>
            <conditions>
                <leftValueReference>$Record.StageName</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Contracting &amp; Procurement</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.RecordTypeId</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>0125e000000Ak9JAAS</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.RecordTypeId</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>0125e000000Ak9EAAS</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Set_Customer_Tier</targetReference>
            </connector>
            <doesRequireRecordChangedToMeetCriteria>true</doesRequireRecordChangedToMeetCriteria>
            <label>Contracting &amp; Procurement &amp; New Business</label>
        </rules>
        <rules>
            <name>POC</name>
            <conditionLogic>or</conditionLogic>
            <conditions>
                <leftValueReference>$Record.POC_Type__c</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.POC_Stage__c</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.POC_Start_Date__c</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Update_Account_POC_Checkbox</targetReference>
            </connector>
            <label>POC</label>
        </rules>
        <rules>
            <name>Open_Opp</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Record.IsClosed</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Copy_Forecast_Category_to_Type</targetReference>
            </connector>
            <label>Open Opp</label>
        </rules>
    </decisions>
    <decisions>
        <name>Opp_Type</name>
        <label>Opp Type</label>
        <locationX>622</locationX>
        <locationY>4055</locationY>
        <defaultConnector>
            <targetReference>Opp_Result</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>Renewal_Contract</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Record.RecordTypeId</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>0125e000000AlnBAAS</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Update_Renewal_Record</targetReference>
            </connector>
            <label>Renewal Contract</label>
        </rules>
        <rules>
            <name>Open_New_Business_Opp</name>
            <conditionLogic>(1 OR 2) AND 3</conditionLogic>
            <conditions>
                <leftValueReference>$Record.RecordTypeId</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>0125e000000Ak9EAAS</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.RecordTypeId</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>0125e000000Ak9JAAS</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.IsClosed</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Set_SE_on_Account_0</targetReference>
            </connector>
            <label>Open New Business Opp</label>
        </rules>
    </decisions>
    <decisions>
        <name>Owner_Updated</name>
        <label>Owner Updated?</label>
        <locationX>1018</locationX>
        <locationY>1127</locationY>
        <defaultConnector>
            <targetReference>Deal_Flag_Pricing</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>YesOwner</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Record.OwnerId</leftValueReference>
                <operator>IsChanged</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Copy_User_Pod</targetReference>
            </connector>
            <label>Yes</label>
        </rules>
    </decisions>
    <decisions>
        <name>POC_Stage_Updated</name>
        <label>POC Stage Updated?</label>
        <locationX>1018</locationX>
        <locationY>3479</locationY>
        <defaultConnector>
            <targetReference>Most_Recent_Contract_Opp</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>X1_Alignment</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Record.POC_Stage__c</leftValueReference>
                <operator>IsChanged</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.POC_Stage__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>1: Alignment</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Set_Alignment_Date</targetReference>
            </connector>
            <label>1: Alignment</label>
        </rules>
        <rules>
            <name>X2_Setup_Integration</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Record.POC_Stage__c</leftValueReference>
                <operator>IsChanged</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.POC_Stage__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>2: Setup &amp; Integration</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Set_Setup_Integration_Date</targetReference>
            </connector>
            <label>2: Setup &amp; Integration</label>
        </rules>
        <rules>
            <name>X3_Enrichment</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Record.POC_Stage__c</leftValueReference>
                <operator>IsChanged</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.POC_Stage__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>3: Enrichment</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Set_Enrichment_Date</targetReference>
            </connector>
            <label>3: Enrichment</label>
        </rules>
        <rules>
            <name>X4_End_User_Testing</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Record.POC_Stage__c</leftValueReference>
                <operator>IsChanged</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.POC_Stage__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>4: End User Testing</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Set_End_User_Testing_Date</targetReference>
            </connector>
            <label>4: End User Testing</label>
        </rules>
    </decisions>
    <decisions>
        <name>Renewal_Forecast_is_Changed</name>
        <label>Renewal Forecast is Changed</label>
        <locationX>1018</locationX>
        <locationY>455</locationY>
        <defaultConnector>
            <targetReference>Next_Step_Updated</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>FALSE</defaultConnectorLabel>
        <rules>
            <name>TRUE</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Record.Renewal_Forecast__c</leftValueReference>
                <operator>IsChanged</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Copy_Renewal_Forecast_to_Account</targetReference>
            </connector>
            <label>TRUE</label>
        </rules>
    </decisions>
    <decisions>
        <name>Stage_Updated</name>
        <label>Stage Updated?</label>
        <locationX>1018</locationX>
        <locationY>3143</locationY>
        <defaultConnector>
            <targetReference>POC_Stage_Updated</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>Solution_Fit</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Record.StageName</leftValueReference>
                <operator>IsChanged</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.StageName</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Solution-Fit</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Set_Solution_Fit_Date</targetReference>
            </connector>
            <label>Solution-Fit</label>
        </rules>
        <rules>
            <name>Validation</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Record.StageName</leftValueReference>
                <operator>IsChanged</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.StageName</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Validation</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Set_Validation_Date</targetReference>
            </connector>
            <label>Validation</label>
        </rules>
        <rules>
            <name>Go_No_Go</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Record.StageName</leftValueReference>
                <operator>IsChanged</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.StageName</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Go / No-Go</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Set_Go_No_Go_Date</targetReference>
            </connector>
            <label>Go / No-Go</label>
        </rules>
        <rules>
            <name>Proposal_Negotiation</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Record.StageName</leftValueReference>
                <operator>IsChanged</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.StageName</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Proposal &amp; Negotiation</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Set_Proposal_Negotiation_Date</targetReference>
            </connector>
            <label>Proposal &amp; Negotiation</label>
        </rules>
        <rules>
            <name>Contracting_Procurement_1</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Record.StageName</leftValueReference>
                <operator>IsChanged</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.StageName</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Contracting &amp; Procurement</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Set_Contracting_Procurement_Date</targetReference>
            </connector>
            <label>Contracting &amp; Procurement</label>
        </rules>
    </decisions>
    <description>v2/3/4 - Updated lost opp Slack message
v5 - Updated setting Account AE to AE&apos;s email instead of AE&apos;s name
v6 - Copy Forecast Category to Type
v7 - Added auto set product instance on POC
v8 - Fixed forecast copying bug
v9/10 - Removed closed won slack alert
v11 - Removed slack alert and fixed opp type bug
v13 - Copy SEs to Account
v14 - Added Sales Pod copy
v15 - Removed slack alerts that moved to Rattle
v16 - Added Renewal Forecast update
v17 - Moved Account owner assignment to only apply to New Business opps
v18 - Deal Flag checkboxes</description>
    <environments>Default</environments>
    <formulas>
        <name>customer_tier</name>
        <dataType>String</dataType>
        <expression>IF( OR({!$Record.Account.Dream_Logo__c}, {!$Record.Lighthouse_Customer__c},{!$Record.Amount} &gt;= 75000, {!accelerator_pack_opp_product_id} != &quot;&quot;) 
   , &quot;Tier 1&quot;
   , IF({!$Record.Amount} &gt;= 40000
        , &quot;Tier 2&quot;
       , &quot;Community&quot;
     )
)</expression>
    </formulas>
    <formulas>
        <name>renewal_expansion_contraction</name>
        <dataType>Currency</dataType>
        <expression>{!$Record.Order_ARR__c} - {!$Record__Prior.Account.ARR__c}</expression>
        <scale>2</scale>
    </formulas>
    <interviewLabel>On Opp Update v2 {!$Flow.CurrentDateTime}</interviewLabel>
    <label>On Opp Update v2</label>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>CanvasMode</name>
        <value>
            <stringValue>AUTO_LAYOUT_CANVAS</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>AutoLaunchedFlow</processType>
    <recordLookups>
        <name>Find_Accelerator_Product</name>
        <label>Find Accelerator Product</label>
        <locationX>314</locationX>
        <locationY>5063</locationY>
        <assignNullValuesIfNoRecordsFound>true</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Update_Opp_Close_Date_and_Forecast</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>OpportunityId</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>$Record.Id</elementReference>
            </value>
        </filters>
        <filters>
            <field>Product2Id</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>01t5e000003JbTWAA0</stringValue>
            </value>
        </filters>
        <object>OpportunityLineItem</object>
        <outputAssignments>
            <assignToReference>accelerator_pack_opp_product_id</assignToReference>
            <field>Id</field>
        </outputAssignments>
    </recordLookups>
    <recordLookups>
        <name>Get_Opp_Owner</name>
        <label>Get Opp Owner</label>
        <locationX>1018</locationX>
        <locationY>335</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Renewal_Forecast_is_Changed</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>$Record.OwnerId</elementReference>
            </value>
        </filters>
        <object>User</object>
        <outputAssignments>
            <assignToReference>owner_name</assignToReference>
            <field>Name</field>
        </outputAssignments>
    </recordLookups>
    <recordUpdates>
        <name>Copy_Forecast_Category_to_Type</name>
        <label>Copy Forecast Category to Type</label>
        <locationX>1018</locationX>
        <locationY>6335</locationY>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Forecast_Type__c</field>
            <operator>NotEqualTo</operator>
            <value>
                <stringValue>Won</stringValue>
            </value>
        </filters>
        <filters>
            <field>Forecast_Type__c</field>
            <operator>NotEqualTo</operator>
            <value>
                <stringValue>Lost</stringValue>
            </value>
        </filters>
        <inputAssignments>
            <field>ForecastCategoryName</field>
            <value>
                <elementReference>$Record.Forecast_Type__c</elementReference>
            </value>
        </inputAssignments>
        <inputReference>$Record</inputReference>
    </recordUpdates>
    <recordUpdates>
        <name>Copy_Renewal_Forecast_to_Account</name>
        <label>Copy Renewal Forecast to Account</label>
        <locationX>886</locationX>
        <locationY>575</locationY>
        <connector>
            <targetReference>Next_Step_Updated</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>$Record.AccountId</elementReference>
            </value>
        </filters>
        <inputAssignments>
            <field>READ_ONLY_Renewal_Forecast__c</field>
            <value>
                <elementReference>$Record.Renewal_Forecast__c</elementReference>
            </value>
        </inputAssignments>
        <object>Account</object>
    </recordUpdates>
    <recordUpdates>
        <name>Copy_User_Pod</name>
        <label>Copy User Pod</label>
        <locationX>886</locationX>
        <locationY>1247</locationY>
        <connector>
            <targetReference>Deal_Flag_Pricing</targetReference>
        </connector>
        <inputAssignments>
            <field>Sales_Pod__c</field>
            <value>
                <elementReference>$Record.Owner.Sales_Pod__c</elementReference>
            </value>
        </inputAssignments>
        <inputReference>$Record</inputReference>
    </recordUpdates>
    <recordUpdates>
        <name>Set_AE_on_Account</name>
        <label>Set AE on Account</label>
        <locationX>50</locationX>
        <locationY>5543</locationY>
        <connector>
            <targetReference>Set_SE_on_Account</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>$Record.AccountId</elementReference>
            </value>
        </filters>
        <inputAssignments>
            <field>Account_Executive__c</field>
            <value>
                <elementReference>$Record.Owner.Email</elementReference>
            </value>
        </inputAssignments>
        <object>Account</object>
    </recordUpdates>
    <recordUpdates>
        <name>Set_AE_on_Account_0</name>
        <label>Set AE on Account</label>
        <locationX>666</locationX>
        <locationY>4295</locationY>
        <connector>
            <targetReference>Account_and_Opportunity_Owner_Mismatch</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>$Record.AccountId</elementReference>
            </value>
        </filters>
        <filters>
            <field>Account_Executive__c</field>
            <operator>NotEqualTo</operator>
            <value>
                <elementReference>$Record.Owner.Email</elementReference>
            </value>
        </filters>
        <inputAssignments>
            <field>Account_Executive__c</field>
            <value>
                <elementReference>$Record.Owner.Email</elementReference>
            </value>
        </inputAssignments>
        <object>Account</object>
    </recordUpdates>
    <recordUpdates>
        <name>Set_Alignment_Date</name>
        <label>Set Alignment Date</label>
        <locationX>490</locationX>
        <locationY>3599</locationY>
        <connector>
            <targetReference>Most_Recent_Contract_Opp</targetReference>
        </connector>
        <inputAssignments>
            <field>Entered_POC_Alignment__c</field>
            <value>
                <elementReference>$Flow.CurrentDate</elementReference>
            </value>
        </inputAssignments>
        <inputReference>$Record</inputReference>
    </recordUpdates>
    <recordUpdates>
        <name>Set_Company_Internal_Factors</name>
        <label>Set Company Internal Factors</label>
        <locationX>886</locationX>
        <locationY>2255</locationY>
        <connector>
            <targetReference>Deal_Flag_Missing_Integration</targetReference>
        </connector>
        <inputAssignments>
            <field>Blocker_Company_Internal_Factors__c</field>
            <value>
                <elementReference>TRUE</elementReference>
            </value>
        </inputAssignments>
        <inputReference>$Record</inputReference>
    </recordUpdates>
    <recordUpdates>
        <name>Set_Contracting_Procurement_Date</name>
        <label>Set Contracting &amp; Procurement Date</label>
        <locationX>1414</locationX>
        <locationY>3263</locationY>
        <connector>
            <targetReference>POC_Stage_Updated</targetReference>
        </connector>
        <inputAssignments>
            <field>Entered_Contracting_Procurement__c</field>
            <value>
                <elementReference>$Flow.CurrentDate</elementReference>
            </value>
        </inputAssignments>
        <inputReference>$Record</inputReference>
    </recordUpdates>
    <recordUpdates>
        <name>Set_Customer_Tier</name>
        <label>Set Customer Tier</label>
        <locationX>1018</locationX>
        <locationY>5063</locationY>
        <connector>
            <targetReference>Copy_Forecast_Category_to_Type</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>$Record.AccountId</elementReference>
            </value>
        </filters>
        <filters>
            <field>Customer_Tier__c</field>
            <operator>IsNull</operator>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </filters>
        <inputAssignments>
            <field>Customer_Tier__c</field>
            <value>
                <elementReference>customer_tier</elementReference>
            </value>
        </inputAssignments>
        <object>Account</object>
    </recordUpdates>
    <recordUpdates>
        <name>Set_End_User_Testing_Date</name>
        <label>Set End User Testing Date</label>
        <locationX>1282</locationX>
        <locationY>3599</locationY>
        <connector>
            <targetReference>Most_Recent_Contract_Opp</targetReference>
        </connector>
        <inputAssignments>
            <field>Entered_POC_End_User_Testing__c</field>
            <value>
                <elementReference>$Flow.CurrentDate</elementReference>
            </value>
        </inputAssignments>
        <inputReference>$Record</inputReference>
    </recordUpdates>
    <recordUpdates>
        <name>Set_Enrichment_Date</name>
        <label>Set Enrichment Date</label>
        <locationX>1018</locationX>
        <locationY>3599</locationY>
        <connector>
            <targetReference>Most_Recent_Contract_Opp</targetReference>
        </connector>
        <inputAssignments>
            <field>Entered_POC_Enrichment__c</field>
            <value>
                <elementReference>$Flow.CurrentDate</elementReference>
            </value>
        </inputAssignments>
        <inputReference>$Record</inputReference>
    </recordUpdates>
    <recordUpdates>
        <name>Set_Go_No_Go_Date</name>
        <label>Set Go / No-Go Date</label>
        <locationX>886</locationX>
        <locationY>3263</locationY>
        <connector>
            <targetReference>POC_Stage_Updated</targetReference>
        </connector>
        <inputAssignments>
            <field>Entered_Go_No_Go__c</field>
            <value>
                <elementReference>$Flow.CurrentDate</elementReference>
            </value>
        </inputAssignments>
        <inputReference>$Record</inputReference>
    </recordUpdates>
    <recordUpdates>
        <name>Set_Last_Stage_Before_Lost</name>
        <label>Set Last Stage Before Lost</label>
        <locationX>754</locationX>
        <locationY>5183</locationY>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Last_Stage_Before_Lost__c</field>
            <operator>IsNull</operator>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </filters>
        <inputAssignments>
            <field>Last_Stage_Before_Lost__c</field>
            <value>
                <elementReference>$Record__Prior.StageName</elementReference>
            </value>
        </inputAssignments>
        <inputReference>$Record</inputReference>
    </recordUpdates>
    <recordUpdates>
        <name>Set_Missing_Integration</name>
        <label>Set Missing Integration</label>
        <locationX>886</locationX>
        <locationY>2591</locationY>
        <connector>
            <targetReference>Deal_Flag_Product_Capability_Blocker</targetReference>
        </connector>
        <inputAssignments>
            <field>Blocker_Integration__c</field>
            <value>
                <elementReference>TRUE</elementReference>
            </value>
        </inputAssignments>
        <inputReference>$Record</inputReference>
    </recordUpdates>
    <recordUpdates>
        <name>Set_Pricing</name>
        <label>Set Pricing</label>
        <locationX>886</locationX>
        <locationY>1583</locationY>
        <connector>
            <targetReference>Deal_Flag_Timing_Risk</targetReference>
        </connector>
        <inputAssignments>
            <field>Blocker_Pricing_Packaging__c</field>
            <value>
                <elementReference>TRUE</elementReference>
            </value>
        </inputAssignments>
        <inputReference>$Record</inputReference>
    </recordUpdates>
    <recordUpdates>
        <name>Set_Product_Capability_Blocker</name>
        <label>Set Product Capability Blocker</label>
        <locationX>886</locationX>
        <locationY>2927</locationY>
        <connector>
            <targetReference>Stage_Updated</targetReference>
        </connector>
        <inputAssignments>
            <field>Blocker_Product_Capability__c</field>
            <value>
                <elementReference>TRUE</elementReference>
            </value>
        </inputAssignments>
        <inputReference>$Record</inputReference>
    </recordUpdates>
    <recordUpdates>
        <name>Set_Product_Instance</name>
        <label>Set Product Instance</label>
        <locationX>50</locationX>
        <locationY>5423</locationY>
        <connector>
            <targetReference>Set_AE_on_Account</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>$Record.AccountId</elementReference>
            </value>
        </filters>
        <filters>
            <field>Atlan_Product_Version__c</field>
            <operator>IsNull</operator>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </filters>
        <inputAssignments>
            <field>Atlan_Product_Version__c</field>
            <value>
                <stringValue>2.0</stringValue>
            </value>
        </inputAssignments>
        <object>Account</object>
    </recordUpdates>
    <recordUpdates>
        <name>Set_Product_Instance_0</name>
        <label>Set Product Instance</label>
        <locationX>1282</locationX>
        <locationY>5183</locationY>
        <connector>
            <targetReference>Copy_Forecast_Category_to_Type</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>$Record.AccountId</elementReference>
            </value>
        </filters>
        <filters>
            <field>Atlan_Product_Version__c</field>
            <operator>IsNull</operator>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </filters>
        <inputAssignments>
            <field>Atlan_Product_Version__c</field>
            <value>
                <stringValue>2.0</stringValue>
            </value>
        </inputAssignments>
        <object>Account</object>
    </recordUpdates>
    <recordUpdates>
        <name>Set_Proposal_Negotiation_Date</name>
        <label>Set Proposal &amp; Negotiation Date</label>
        <locationX>1150</locationX>
        <locationY>3263</locationY>
        <connector>
            <targetReference>POC_Stage_Updated</targetReference>
        </connector>
        <inputAssignments>
            <field>Entered_Proposal_Negotiation__c</field>
            <value>
                <elementReference>$Flow.CurrentDate</elementReference>
            </value>
        </inputAssignments>
        <inputReference>$Record</inputReference>
    </recordUpdates>
    <recordUpdates>
        <name>Set_SE_on_Account</name>
        <label>Set SE on Account</label>
        <locationX>50</locationX>
        <locationY>5663</locationY>
        <connector>
            <targetReference>Finance_Alert_Email</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>$Record.AccountId</elementReference>
            </value>
        </filters>
        <filters>
            <field>Sales_Engineer__c</field>
            <operator>NotEqualTo</operator>
            <value>
                <elementReference>$Record.Technical_Owner__r.Email</elementReference>
            </value>
        </filters>
        <inputAssignments>
            <field>Sales_Engineer__c</field>
            <value>
                <elementReference>$Record.Technical_Owner__r.Email</elementReference>
            </value>
        </inputAssignments>
        <object>Account</object>
    </recordUpdates>
    <recordUpdates>
        <name>Set_SE_on_Account_0</name>
        <label>Set SE on Account</label>
        <locationX>666</locationX>
        <locationY>4175</locationY>
        <connector>
            <targetReference>Set_AE_on_Account_0</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>$Record.AccountId</elementReference>
            </value>
        </filters>
        <filters>
            <field>Sales_Engineer__c</field>
            <operator>NotEqualTo</operator>
            <value>
                <elementReference>$Record.Technical_Owner__r.Email</elementReference>
            </value>
        </filters>
        <inputAssignments>
            <field>Sales_Engineer__c</field>
            <value>
                <elementReference>$Record.Technical_Owner__r.Email</elementReference>
            </value>
        </inputAssignments>
        <object>Account</object>
    </recordUpdates>
    <recordUpdates>
        <name>Set_Setup_Integration_Date</name>
        <label>Set Setup Integration Date</label>
        <locationX>754</locationX>
        <locationY>3599</locationY>
        <connector>
            <targetReference>Most_Recent_Contract_Opp</targetReference>
        </connector>
        <inputAssignments>
            <field>Entered_POC_Setup_Integration__c</field>
            <value>
                <elementReference>$Flow.CurrentDate</elementReference>
            </value>
        </inputAssignments>
        <inputReference>$Record</inputReference>
    </recordUpdates>
    <recordUpdates>
        <name>Set_Solution_Fit_Date</name>
        <label>Set Solution-Fit Date</label>
        <locationX>358</locationX>
        <locationY>3263</locationY>
        <connector>
            <targetReference>POC_Stage_Updated</targetReference>
        </connector>
        <inputAssignments>
            <field>Entered_Solution_Fit__c</field>
            <value>
                <elementReference>$Flow.CurrentDate</elementReference>
            </value>
        </inputAssignments>
        <inputReference>$Record</inputReference>
    </recordUpdates>
    <recordUpdates>
        <name>Set_Timing_Risk</name>
        <label>Set Timing Risk</label>
        <locationX>886</locationX>
        <locationY>1919</locationY>
        <connector>
            <targetReference>Deal_Flag_Company_Internal_Factors</targetReference>
        </connector>
        <inputAssignments>
            <field>Blocker_Timing_Risk__c</field>
            <value>
                <elementReference>TRUE</elementReference>
            </value>
        </inputAssignments>
        <inputReference>$Record</inputReference>
    </recordUpdates>
    <recordUpdates>
        <name>Set_Validation_Date</name>
        <label>Set Validation Date</label>
        <locationX>622</locationX>
        <locationY>3263</locationY>
        <connector>
            <targetReference>POC_Stage_Updated</targetReference>
        </connector>
        <inputAssignments>
            <field>Entered_Validation__c</field>
            <value>
                <elementReference>$Flow.CurrentDate</elementReference>
            </value>
        </inputAssignments>
        <inputReference>$Record</inputReference>
    </recordUpdates>
    <recordUpdates>
        <name>Update_Account_Contract_Data</name>
        <label>Update Account Contract Data</label>
        <locationX>622</locationX>
        <locationY>3935</locationY>
        <connector>
            <targetReference>Opp_Type</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>$Record.AccountId</elementReference>
            </value>
        </filters>
        <inputAssignments>
            <field>Contract_Term_months__c</field>
            <value>
                <elementReference>$Record.Contract_Term_months__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Opt_out_Term_months__c</field>
            <value>
                <elementReference>$Record.Opt_out_Term_months__c</elementReference>
            </value>
        </inputAssignments>
        <object>Account</object>
    </recordUpdates>
    <recordUpdates>
        <name>Update_Account_Owner</name>
        <label>Update Account Owner</label>
        <locationX>534</locationX>
        <locationY>4535</locationY>
        <connector>
            <targetReference>Opp_Result</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>$Record.AccountId</elementReference>
            </value>
        </filters>
        <inputAssignments>
            <field>OwnerId</field>
            <value>
                <elementReference>$Record.OwnerId</elementReference>
            </value>
        </inputAssignments>
        <object>Account</object>
    </recordUpdates>
    <recordUpdates>
        <name>Update_Account_POC_Checkbox</name>
        <label>Update Account POC Checkbox</label>
        <locationX>1282</locationX>
        <locationY>5063</locationY>
        <connector>
            <targetReference>Set_Product_Instance_0</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>$Record.AccountId</elementReference>
            </value>
        </filters>
        <filters>
            <field>POC__c</field>
            <operator>EqualTo</operator>
            <value>
                <booleanValue>false</booleanValue>
            </value>
        </filters>
        <inputAssignments>
            <field>POC__c</field>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </inputAssignments>
        <object>Account</object>
    </recordUpdates>
    <recordUpdates>
        <name>Update_Opp_Close_Date_and_Forecast</name>
        <label>Update Opp Close Date and Forecast</label>
        <locationX>314</locationX>
        <locationY>5183</locationY>
        <connector>
            <targetReference>Opp_Record_Type</targetReference>
        </connector>
        <inputAssignments>
            <field>CloseDate</field>
            <value>
                <elementReference>$Flow.CurrentDate</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>ForecastCategoryName</field>
            <value>
                <stringValue>Closed</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Forecast_Type__c</field>
            <value>
                <stringValue>Won</stringValue>
            </value>
        </inputAssignments>
        <inputReference>$Record</inputReference>
    </recordUpdates>
    <recordUpdates>
        <name>Update_Opp_Close_Date_and_Forecast_0</name>
        <label>Update Opp Close Date and Forecast</label>
        <locationX>754</locationX>
        <locationY>5063</locationY>
        <connector>
            <targetReference>Set_Last_Stage_Before_Lost</targetReference>
        </connector>
        <inputAssignments>
            <field>CloseDate</field>
            <value>
                <elementReference>$Flow.CurrentDate</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>ForecastCategoryName</field>
            <value>
                <stringValue>Closed</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Forecast_Type__c</field>
            <value>
                <stringValue>Lost</stringValue>
            </value>
        </inputAssignments>
        <inputReference>$Record</inputReference>
    </recordUpdates>
    <recordUpdates>
        <name>Update_Opp_Next_Step_Updated_Date</name>
        <label>Update Opp Next Step Updated Date</label>
        <locationX>886</locationX>
        <locationY>911</locationY>
        <connector>
            <targetReference>Owner_Updated</targetReference>
        </connector>
        <inputAssignments>
            <field>Next_Step_Updated_Date__c</field>
            <value>
                <elementReference>$Flow.CurrentDate</elementReference>
            </value>
        </inputAssignments>
        <inputReference>$Record</inputReference>
    </recordUpdates>
    <recordUpdates>
        <name>Update_Opp_Type</name>
        <label>Update Opp Type</label>
        <locationX>1150</locationX>
        <locationY>3935</locationY>
        <connector>
            <targetReference>Opp_Result</targetReference>
        </connector>
        <inputAssignments>
            <field>Type</field>
            <value>
                <stringValue>Upsell</stringValue>
            </value>
        </inputAssignments>
        <inputReference>$Record</inputReference>
    </recordUpdates>
    <recordUpdates>
        <name>Update_Renewal_Record</name>
        <label>Update Renewal Record</label>
        <locationX>270</locationX>
        <locationY>4175</locationY>
        <connector>
            <targetReference>Opp_Result</targetReference>
        </connector>
        <inputAssignments>
            <field>Type</field>
            <value>
                <stringValue>Renewal</stringValue>
            </value>
        </inputAssignments>
        <inputReference>$Record</inputReference>
    </recordUpdates>
    <recordUpdates>
        <name>Update_Renewal_Record_0</name>
        <label>Update Renewal Record</label>
        <locationX>314</locationX>
        <locationY>5423</locationY>
        <connector>
            <targetReference>Finance_Alert_Email</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Expansion_Contraction_ARR__c</field>
            <operator>IsNull</operator>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </filters>
        <inputAssignments>
            <field>Expansion_Contraction_ARR__c</field>
            <value>
                <elementReference>renewal_expansion_contraction</elementReference>
            </value>
        </inputAssignments>
        <inputReference>$Record</inputReference>
    </recordUpdates>
    <start>
        <locationX>892</locationX>
        <locationY>0</locationY>
        <connector>
            <targetReference>Get_Opp_Owner</targetReference>
        </connector>
        <object>Opportunity</object>
        <recordTriggerType>CreateAndUpdate</recordTriggerType>
        <triggerType>RecordAfterSave</triggerType>
    </start>
    <status>Active</status>
    <variables>
        <name>accelerator_pack_opp_product_id</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <value>
            <stringValue></stringValue>
        </value>
    </variables>
    <variables>
        <name>owner_name</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>se_name</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
</Flow>
