force-app/main/default/flows/On_Opp_Product_Create.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <apiVersion>54.0</apiVersion>
    <assignments>
        <name>Copy_Users_from_Product_to_Schedule</name>
        <label>Copy Users from Product to Schedule</label>
        <locationX>270</locationX>
        <locationY>1031</locationY>
        <assignmentItems>
            <assignToReference>Revenue_Schedule_Items.Editor_Users__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>$Record.Admin_Users__c</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>Revenue_Schedule_Items.Member_Users__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>$Record.Member_Users__c</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>Revenue_Schedule_Items.Viewer_Users__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>$Record.Guest_Users__c</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Revenue_Schedule_Items</targetReference>
        </connector>
    </assignments>
    <decisions>
        <name>Accelerator_Pack</name>
        <label>Accelerator Pack?</label>
        <locationX>182</locationX>
        <locationY>455</locationY>
        <defaultConnector>
            <targetReference>Get_Revenue_Schedule</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>Yes</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Record.Product2Id</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>01t5e000003JbTWAA0</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Update_Account</targetReference>
            </connector>
            <label>Yes</label>
        </rules>
    </decisions>
    <description>v1 - Copy fields from Product to Opp Product
v2 - Added professional services checkbox
v3 - Added Accelerator Pack
v4 - Add logic to copy users from product to schedule</description>
    <environments>Default</environments>
    <interviewLabel>On Opp Product Create {!$Flow.CurrentDateTime}</interviewLabel>
    <label>On Opp Product Create</label>
    <loops>
        <name>Revenue_Schedule_Items</name>
        <label>Revenue Schedule Items</label>
        <locationX>182</locationX>
        <locationY>911</locationY>
        <collectionReference>Get_Revenue_Schedule</collectionReference>
        <iterationOrder>Asc</iterationOrder>
        <nextValueConnector>
            <targetReference>Copy_Users_from_Product_to_Schedule</targetReference>
        </nextValueConnector>
        <noMoreValuesConnector>
            <targetReference>Update_Schedule_Items</targetReference>
        </noMoreValuesConnector>
    </loops>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>CanvasMode</name>
        <value>
            <stringValue>AUTO_LAYOUT_CANVAS</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>AutoLaunchedFlow</processType>
    <recordLookups>
        <name>Get_Revenue_Schedule</name>
        <label>Get Revenue Schedule</label>
        <locationX>182</locationX>
        <locationY>791</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Revenue_Schedule_Items</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>OpportunityLineItemId</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>$Record.Id</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>false</getFirstRecordOnly>
        <object>OpportunityLineItemSchedule</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordUpdates>
        <name>Update_Account</name>
        <label>Update Account</label>
        <locationX>50</locationX>
        <locationY>575</locationY>
        <connector>
            <targetReference>Get_Revenue_Schedule</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>$Record.Opportunity.AccountId</elementReference>
            </value>
        </filters>
        <inputAssignments>
            <field>Accelerator_Pack__c</field>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </inputAssignments>
        <object>Account</object>
    </recordUpdates>
    <recordUpdates>
        <name>Update_Is_Subscription</name>
        <label>Update Is Subscription</label>
        <locationX>182</locationX>
        <locationY>335</locationY>
        <connector>
            <targetReference>Accelerator_Pack</targetReference>
        </connector>
        <inputAssignments>
            <field>Is_Pilot_or_Opt_out__c</field>
            <value>
                <elementReference>$Record.Product2.Is_Pilot_or_Opt_out__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Is_Professional_Services__c</field>
            <value>
                <elementReference>$Record.Product2.Is_Professional_Services__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Is_Subscription__c</field>
            <value>
                <elementReference>$Record.Product2.Is_Subscription__c</elementReference>
            </value>
        </inputAssignments>
        <inputReference>$Record</inputReference>
    </recordUpdates>
    <recordUpdates>
        <name>Update_Schedule_Items</name>
        <label>Update Schedule Items</label>
        <locationX>182</locationX>
        <locationY>1247</locationY>
        <inputReference>Get_Revenue_Schedule</inputReference>
    </recordUpdates>
    <start>
        <locationX>56</locationX>
        <locationY>0</locationY>
        <connector>
            <targetReference>Update_Is_Subscription</targetReference>
        </connector>
        <object>OpportunityLineItem</object>
        <recordTriggerType>Create</recordTriggerType>
        <triggerType>RecordAfterSave</triggerType>
    </start>
    <status>Active</status>
</Flow>
