force-app/main/default/flows/Update_Schedule_Items_from_Opportunity_Update.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <apiVersion>54.0</apiVersion>
    <assignments>
        <name>Add_Schedule_Items_to_Variable</name>
        <label>Add Schedule Items to Variable</label>
        <locationX>3608</locationX>
        <locationY>1151</locationY>
        <assignmentItems>
            <assignToReference>schedule_items</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference>Revenue_Schedule_Items</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Revenue_Schedule_Items</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Churned_Fields</name>
        <label>Churned Fields</label>
        <locationX>2816</locationX>
        <locationY>935</locationY>
        <assignmentItems>
            <assignToReference>Revenue_Schedule_Items.Churned__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Add_Schedule_Items_to_Variable</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Existing_Bucket</name>
        <label>Existing Bucket</label>
        <locationX>4664</locationX>
        <locationY>935</locationY>
        <assignmentItems>
            <assignToReference>Revenue_Schedule_Items.Revenue_Bucket__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>Existing (Opening)</stringValue>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Add_Schedule_Items_to_Variable</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>New_from_New_Bucket</name>
        <label>New from New Bucket</label>
        <locationX>3872</locationX>
        <locationY>935</locationY>
        <assignmentItems>
            <assignToReference>Revenue_Schedule_Items.Revenue_Bucket__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>New from New</stringValue>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Add_Schedule_Items_to_Variable</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Opt_out_Conversion_Fields</name>
        <label>Opt-out Conversion Fields</label>
        <locationX>3608</locationX>
        <locationY>935</locationY>
        <assignmentItems>
            <assignToReference>Revenue_Schedule_Items.Revenue_Bucket__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>Opt-out Conversion</stringValue>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Add_Schedule_Items_to_Variable</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Opt_out_Fields</name>
        <label>Opt-out Fields</label>
        <locationX>2552</locationX>
        <locationY>935</locationY>
        <assignmentItems>
            <assignToReference>Revenue_Schedule_Items.Is_Opt_out_Revenue__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>Revenue_Schedule_Items.Is_ARR__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <booleanValue>false</booleanValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>Revenue_Schedule_Items.Revenue_Bucket__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>Opt-out</stringValue>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Add_Schedule_Items_to_Variable</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Professional_Services_Fields</name>
        <label>Professional Services Fields</label>
        <locationX>3344</locationX>
        <locationY>935</locationY>
        <assignmentItems>
            <assignToReference>Revenue_Schedule_Items.Is_Professional_Services_Revenue__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>Revenue_Schedule_Items.Is_ARR__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <booleanValue>false</booleanValue>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Add_Schedule_Items_to_Variable</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Trial_Fields</name>
        <label>Trial Fields</label>
        <locationX>3080</locationX>
        <locationY>935</locationY>
        <assignmentItems>
            <assignToReference>Revenue_Schedule_Items.Is_Trial_Revenue__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>Revenue_Schedule_Items.Is_ARR__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <booleanValue>false</booleanValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>Revenue_Schedule_Items.Revenue_Bucket__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>Trial</stringValue>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Add_Schedule_Items_to_Variable</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Uncheck_ARR</name>
        <label>Uncheck ARR</label>
        <locationX>4400</locationX>
        <locationY>935</locationY>
        <assignmentItems>
            <assignToReference>Revenue_Schedule_Items.Is_ARR__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <booleanValue>false</booleanValue>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Add_Schedule_Items_to_Variable</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Upsell_Bucket</name>
        <label>Upsell Bucket</label>
        <locationX>4136</locationX>
        <locationY>935</locationY>
        <assignmentItems>
            <assignToReference>Revenue_Schedule_Items.Revenue_Bucket__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>Upsell/Expansion</stringValue>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Add_Schedule_Items_to_Variable</targetReference>
        </connector>
    </assignments>
    <decisions>
        <name>Schedule_Item_Fields</name>
        <label>Schedule Item Fields</label>
        <locationX>3608</locationX>
        <locationY>815</locationY>
        <defaultConnector>
            <targetReference>Existing_Bucket</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>Opt_out</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Revenue_Schedule_Items.ScheduleDate</leftValueReference>
                <operator>LessThan</operator>
                <rightValue>
                    <elementReference>$Record.Opt_out_Expiry_Date__c</elementReference>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>Products.Is_Subscription__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Opt_out_Fields</targetReference>
            </connector>
            <label>Opt-out</label>
        </rules>
        <rules>
            <name>Churned_Revenue</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Revenue_Schedule_Items.ScheduleDate</leftValueReference>
                <operator>GreaterThanOrEqualTo</operator>
                <rightValue>
                    <elementReference>$Record.Opt_out_Expiry_Date__c</elementReference>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.Opted_out__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Churned_Fields</targetReference>
            </connector>
            <label>Churned Revenue</label>
        </rules>
        <rules>
            <name>Trial</name>
            <conditionLogic>or</conditionLogic>
            <conditions>
                <leftValueReference>$Record.Type</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Developer License</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.Type</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Pilot</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Trial_Fields</targetReference>
            </connector>
            <label>Trial</label>
        </rules>
        <rules>
            <name>Professional_Services</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Products.Is_Professional_Services__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Professional_Services_Fields</targetReference>
            </connector>
            <label>Professional Services</label>
        </rules>
        <rules>
            <name>Opt_out_Conversion</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Revenue_Schedule_Items.ScheduleDate</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <elementReference>day_after_opt_out</elementReference>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Opt_out_Conversion_Fields</targetReference>
            </connector>
            <label>Opt-out Conversion</label>
        </rules>
        <rules>
            <name>New_from_New</name>
            <conditionLogic>1 AND 2 AND (3 OR 4)</conditionLogic>
            <conditions>
                <leftValueReference>Revenue_Schedule_Items.ScheduleDate</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <elementReference>$Record.Contract_Start_Date__c</elementReference>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.Type</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>New Business</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.Opt_out_Term_months__c</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.Opt_out_Term_months__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <numberValue>0.0</numberValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>New_from_New_Bucket</targetReference>
            </connector>
            <label>New from New</label>
        </rules>
        <rules>
            <name>Upsell</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Record.Type</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Upsell</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>Revenue_Schedule_Items.ScheduleDate</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <elementReference>$Record.Contract_Start_Date__c</elementReference>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Upsell_Bucket</targetReference>
            </connector>
            <label>Upsell</label>
        </rules>
        <rules>
            <name>Non_Subscription_Revenue</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Products.Is_Subscription__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Uncheck_ARR</targetReference>
            </connector>
            <label>Non-Subscription Revenue</label>
        </rules>
    </decisions>
    <description>v3 - Added users
v4 - Added Developer Licence
v5 - Updated revenue categorization
v6 - Marked Churned also as ARR
v7/v8 - Updated Revenue Buckets
v9 - Removed logic to update users on line item</description>
    <environments>Default</environments>
    <formulas>
        <name>day_after_opt_out</name>
        <dataType>Date</dataType>
        <expression>{!$Record.Opt_out_Expiry_Date__c} + 1</expression>
    </formulas>
    <interviewLabel>Update Schedule Items from Opportunity Update {!$Flow.CurrentDateTime}</interviewLabel>
    <label>Update Schedule Items from Opportunity Update</label>
    <loops>
        <name>Products</name>
        <label>Products</label>
        <locationX>176</locationX>
        <locationY>455</locationY>
        <collectionReference>Get_Opportunity_Products</collectionReference>
        <iterationOrder>Asc</iterationOrder>
        <nextValueConnector>
            <targetReference>Get_Revenue_Schedule</targetReference>
        </nextValueConnector>
    </loops>
    <loops>
        <name>Revenue_Schedule_Items</name>
        <label>Revenue Schedule Items</label>
        <locationX>2464</locationX>
        <locationY>695</locationY>
        <collectionReference>Get_Revenue_Schedule</collectionReference>
        <iterationOrder>Asc</iterationOrder>
        <nextValueConnector>
            <targetReference>Schedule_Item_Fields</targetReference>
        </nextValueConnector>
        <noMoreValuesConnector>
            <targetReference>Update_Schedule_Items</targetReference>
        </noMoreValuesConnector>
    </loops>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>CanvasMode</name>
        <value>
            <stringValue>AUTO_LAYOUT_CANVAS</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>AutoLaunchedFlow</processType>
    <recordLookups>
        <name>Get_Opportunity_Products</name>
        <label>Get Opportunity Products</label>
        <locationX>176</locationX>
        <locationY>335</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Products</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>OpportunityId</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>$Record.Id</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>false</getFirstRecordOnly>
        <object>OpportunityLineItem</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <name>Get_Revenue_Schedule</name>
        <label>Get Revenue Schedule</label>
        <locationX>2464</locationX>
        <locationY>575</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Revenue_Schedule_Items</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>OpportunityLineItemId</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>Products.Id</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>false</getFirstRecordOnly>
        <object>OpportunityLineItemSchedule</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordUpdates>
        <name>Update_Schedule_Items</name>
        <label>Update Schedule Items</label>
        <locationX>2464</locationX>
        <locationY>1367</locationY>
        <connector>
            <targetReference>Products</targetReference>
        </connector>
        <inputReference>schedule_items</inputReference>
    </recordUpdates>
    <start>
        <locationX>50</locationX>
        <locationY>0</locationY>
        <connector>
            <targetReference>Get_Opportunity_Products</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Opportunity_Products__c</field>
            <operator>GreaterThan</operator>
            <value>
                <numberValue>0.0</numberValue>
            </value>
        </filters>
        <object>Opportunity</object>
        <recordTriggerType>Update</recordTriggerType>
        <triggerType>RecordAfterSave</triggerType>
    </start>
    <status>Active</status>
    <variables>
        <name>schedule_items</name>
        <dataType>SObject</dataType>
        <isCollection>true</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>OpportunityLineItemSchedule</objectType>
    </variables>
</Flow>
