force-app/main/default/flows/Update_Referral_from_Opportunity_UPDATED.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <apiVersion>53.0</apiVersion>
    <assignments>
        <name>add_Referral_to_referralsToUpdate</name>
        <label>add Referral to referralsToUpdate</label>
        <locationX>396</locationX>
        <locationY>1031</locationY>
        <assignmentItems>
            <assignToReference>referralsToUpdate</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference>referrals</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>referrals</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>set_Referral_fields</name>
        <label>set Referral fields</label>
        <locationX>396</locationX>
        <locationY>575</locationY>
        <assignmentItems>
            <assignToReference>referrals.workspan__SalesStage__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>$Record.StageName</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>referrals.workspan__CloseDate__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>$Record.CloseDate</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Closed_Lost</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Set_Referral_Lost_Reason</name>
        <label>Set Referral Lost Reason</label>
        <locationX>264</locationX>
        <locationY>815</locationY>
        <assignmentItems>
            <assignToReference>referrals.workspan__ClosedLostReason__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>Other</stringValue>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>add_Referral_to_referralsToUpdate</targetReference>
        </connector>
    </assignments>
    <decisions>
        <name>Closed_Lost</name>
        <label>Closed Lost?</label>
        <locationX>396</locationX>
        <locationY>695</locationY>
        <defaultConnector>
            <targetReference>add_Referral_to_referralsToUpdate</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>TRUE</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Record.StageName</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Closed Lost</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Set_Referral_Lost_Reason</targetReference>
            </connector>
            <doesRequireRecordChangedToMeetCriteria>true</doesRequireRecordChangedToMeetCriteria>
            <label>TRUE</label>
        </rules>
    </decisions>
    <environments>Default</environments>
    <interviewLabel>Update Referral from Opportunity - UPDATED {!$Flow.CurrentDateTime}</interviewLabel>
    <label>Update Referral from Opportunity - UPDATED</label>
    <loops>
        <name>referrals</name>
        <label>referrals</label>
        <locationX>176</locationX>
        <locationY>455</locationY>
        <collectionReference>get_Referrals</collectionReference>
        <iterationOrder>Asc</iterationOrder>
        <nextValueConnector>
            <targetReference>set_Referral_fields</targetReference>
        </nextValueConnector>
        <noMoreValuesConnector>
            <targetReference>update_referralsToUpdate</targetReference>
        </noMoreValuesConnector>
    </loops>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>CanvasMode</name>
        <value>
            <stringValue>AUTO_LAYOUT_CANVAS</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>AutoLaunchedFlow</processType>
    <recordLookups>
        <name>get_Referrals</name>
        <label>get Referrals</label>
        <locationX>176</locationX>
        <locationY>335</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>referrals</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>workspan__Opportunity__c</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>$Record.Id</elementReference>
            </value>
        </filters>
        <filters>
            <field>workspan__ReferralStatus__c</field>
            <operator>NotEqualTo</operator>
            <value>
                <stringValue>Declined</stringValue>
            </value>
        </filters>
        <filters>
            <field>workspan__ReferralStatus__c</field>
            <operator>NotEqualTo</operator>
            <value>
                <stringValue>Discontinued</stringValue>
            </value>
        </filters>
        <getFirstRecordOnly>false</getFirstRecordOnly>
        <object>workspan__Referral__c</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordUpdates>
        <name>update_referralsToUpdate</name>
        <label>update referralsToUpdate</label>
        <locationX>176</locationX>
        <locationY>1247</locationY>
        <inputReference>referralsToUpdate</inputReference>
    </recordUpdates>
    <sourceTemplate>workspan__UpdateReferralFromOpportunity</sourceTemplate>
    <start>
        <locationX>50</locationX>
        <locationY>0</locationY>
        <connector>
            <targetReference>get_Referrals</targetReference>
        </connector>
        <filterLogic>or</filterLogic>
        <filters>
            <field>StageName</field>
            <operator>IsChanged</operator>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </filters>
        <filters>
            <field>CloseDate</field>
            <operator>IsChanged</operator>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </filters>
        <object>Opportunity</object>
        <recordTriggerType>Update</recordTriggerType>
        <triggerType>RecordAfterSave</triggerType>
    </start>
    <status>Active</status>
    <variables>
        <name>referralsToUpdate</name>
        <dataType>SObject</dataType>
        <isCollection>true</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>workspan__Referral__c</objectType>
    </variables>
</Flow>
